@font-face {
    font-family: ManaSpc;
    src: url(./assets/manaspc.ttf) format('truetype');
}

$text-color: #fff;
$section-background-color: #00f;
$section-border-color: gold;

@mixin basic-section() {
    display: flex;
    background-color: $section-background-color;
    border: 20px solid $section-border-color;
}

body {
    background-color: black;
    font-family: ManaSpc;
    color: $text-color;
}

#gameScreen { //gamescreen canvas
    background-color: black;
}
.game-screen {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
}

#game-screen__events_log {
    @include basic-section();
    flex: 35;
    flex-direction: column;
    padding: 0 1rem;
    max-height: 100%;
    overflow-y: hidden;
    div {
        margin: .5rem 0;
    }
}

.game-screen__canvas-container {
    display: flex;
    flex: 30;
    flex-direction: column;
    justify-content: flex-end;
}

.game-screen__information-display {
    @include basic-section();
    flex: 35;
    flex-direction: column;
}

.u-half {
    display: flex;
    flex: 50;
}

.u-centered-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.enemy {
    border-color: $text-color;
}

.enemy:hover {
    border-color: $section-border-color;
    color: $section-border-color;
    legend {
        color: $section-border-color;
    }
}

#actionsMenu {
    @include basic-section();
    border-right: 0;
    border-left: 0;
    padding: 2rem 5rem;
}

.action-button {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    padding: .7rem;
    margin: .5rem;
    border: 1px solid $text-color;

    &:hover {
        color: $section-background-color;
        border-color: $section-background-color;
        background-color: $text-color;
    }
}

#online-block {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: #f00;
    display: none; //TODO: cancellatre in prod

    .online-block__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        margin: auto;
        width: 50%;
        height: 100%;
        text-align: center;
    }
}